@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<UserManagement.Models.User> SignInManager

@{
    Layout = "_MemberLayout";
    ViewData["Title"] = "Log in";
}


<div class="nobottommargin">
    <div class="well well-lg dark" style="background-image: url('/images/page/bg1.jpg');">
        <form asp-controller="MemberAccount" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="nobottommargin">
            <h3>Login to your Account</h3>
            <div class="col_full">
                <label asp-for="Email">Email:</label>
                <input asp-for="Email" class="form-control not-dark" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="col_full">
                <label asp-for="Password">Password:</label>
                <input asp-for="Password" class="form-control not-dark" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="col_full nobottommargin">
                <button type="submit" class="button button-3d nomargin" id="login-form-submit" name="login-form-submit" value="login">Login</button>
                <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register -></a>
                <br>
                <a asp-action="ForgotPassword">Forgot -></a>
            </div>
        </form>
    </div>
</div>

<div class="line line-sm topmargin-sm"></div>

<div class="center">
    <h4 style="margin-bottom: 15px;">Or Login with</h4>

    @{
        var loginProviders = SignInManager.GetExternalAuthenticationSchemesAsync().Result.ToList();
        if (loginProviders.Count == 0)
        {
            <div>
                <p>
                    There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                    for details on setting up this ASP.NET application to support logging in via external services.
                </p>
            </div>
        }
        else
        {
            <form asp-controller="MemberAccount" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <div>
                    <p>
                        @foreach (var provider in loginProviders)
                        {
                            <button type="submit" class="button button-rounded si-facebook si-colored" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                        }
                    </p>
                </div>
            </form>
        }
    }
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_MemberValidationScriptsPartial"); }
}
